[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
tweepy = "*"
envparse = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"
yapf = "*"

[requires]
python_version = "3.6"
